<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.ericlee.dark_mode</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>1D66C39D-8229-4245-9441-55367EE709E0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A0C4E727-5170-481C-B4DA-C876A7B5FFA6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>IJay</string>
	<key>description</key>
	<string>Toggle the dark mode on Mojave</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Dark Mode</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>osascript -e 'tell app "System Events" to tell appearance preferences to set dark mode to not dark mode'</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>A0C4E727-5170-481C-B4DA-C876A7B5FFA6</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>dark</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Toggle the dark mode</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>1D66C39D-8229-4245-9441-55367EE709E0</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Dark Mode (v1.0)

Version 1.0:
1. Toggle the dark mode</string>
	<key>uidata</key>
	<dict>
		<key>1D66C39D-8229-4245-9441-55367EE709E0</key>
		<dict>
			<key>xpos</key>
			<integer>190</integer>
			<key>ypos</key>
			<integer>300</integer>
		</dict>
		<key>A0C4E727-5170-481C-B4DA-C876A7B5FFA6</key>
		<dict>
			<key>xpos</key>
			<integer>510</integer>
			<key>ypos</key>
			<integer>300</integer>
		</dict>
	</dict>
	<key>version</key>
	<string>1.0</string>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
